#section-intro{
    height: 100vh;
    width: 100vw;
    text-align: center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1040' height='560' preserveAspectRatio='none' viewBox='0 0 1040 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1194%26quot%3b)' fill='none'%3e%3crect width='1040' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M36.8 403.34L101.75 440.84L101.75 515.84L36.8 553.34L-28.15 515.84L-28.15 440.84zM231.66 65.84L296.62 103.34L296.62 178.34L231.66 215.84L166.71 178.34L166.71 103.34zM231.66 515.84L296.62 553.34L296.62 628.34L231.66 665.84L166.71 628.34L166.71 553.34zM361.57 65.84L426.52 103.34L426.52 178.34L361.57 215.84L296.62 178.34L296.62 103.34zM296.62 403.34L361.57 440.84L361.57 515.84L296.62 553.34L231.66 515.84L231.66 440.84zM426.52 403.34L491.48 440.84L491.48 515.84L426.52 553.34L361.57 515.84L361.57 440.84zM556.43 -46.66L621.38 -9.16L621.38 65.84L556.43 103.34L491.48 65.84L491.48 -9.16zM556.43 178.34L621.38 215.84L621.38 290.84L556.43 328.34L491.48 290.84L491.48 215.84zM621.38 290.84L686.34 328.34L686.34 403.34L621.38 440.84L556.43 403.34L556.43 328.34zM556.43 403.34L621.38 440.84L621.38 515.84L556.43 553.34L491.48 515.84L491.48 440.84zM621.38 515.84L686.34 553.34L686.34 628.34L621.38 665.84L556.43 628.34L556.43 553.34zM686.34 -46.66L751.29 -9.16L751.29 65.84L686.34 103.34L621.38 65.84L621.38 -9.16zM686.34 178.34L751.29 215.84L751.29 290.84L686.34 328.34L621.38 290.84L621.38 215.84zM751.29 290.84L816.25 328.34L816.25 403.34L751.29 440.84L686.34 403.34L686.34 328.34zM816.24 -46.66L881.2 -9.16L881.2 65.84L816.24 103.34L751.29 65.84L751.29 -9.16zM881.2 65.84L946.15 103.34L946.15 178.34L881.2 215.84L816.24 178.34L816.24 103.34zM816.24 403.34L881.2 440.84L881.2 515.84L816.24 553.34L751.29 515.84L751.29 440.84zM946.15 -46.66L1011.11 -9.16L1011.11 65.84L946.15 103.34L881.2 65.84L881.2 -9.16zM946.15 178.34L1011.11 215.84L1011.11 290.84L946.15 328.34L881.2 290.84L881.2 215.84zM946.15 403.34L1011.11 440.84L1011.11 515.84L946.15 553.34L881.2 515.84L881.2 440.84zM1076.06 -46.66L1141.01 -9.16L1141.01 65.84L1076.06 103.34L1011.11 65.84L1011.11 -9.16zM1141.01 65.84L1205.97 103.34L1205.97 178.34L1141.01 215.84L1076.06 178.34L1076.06 103.34zM1076.06 178.34L1141.01 215.84L1141.01 290.84L1076.06 328.34L1011.11 290.84L1011.11 215.84z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M29.3 403.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM94.25 440.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM94.25 515.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM29.3 553.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-35.65 515.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM-35.65 440.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM224.16 65.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM289.12 103.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM289.12 178.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM224.16 215.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM159.21 178.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM159.21 103.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM224.16 515.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM289.12 553.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM289.12 628.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM224.16 665.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM159.21 628.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM159.21 553.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM354.07 65.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM419.02 103.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM419.02 178.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM354.07 215.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM289.12 403.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM354.07 440.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM354.07 515.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM224.16 440.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM419.02 403.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM483.98 440.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM483.98 515.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM419.02 553.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM548.93 -46.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM613.88 -9.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM613.88 65.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM548.93 103.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM483.98 65.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM483.98 -9.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM548.93 178.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM613.88 215.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM613.88 290.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM548.93 328.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM483.98 290.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM483.98 215.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM678.84 328.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM678.84 403.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM613.88 440.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM548.93 403.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM613.88 515.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM548.93 553.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM678.84 553.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM678.84 628.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM613.88 665.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM548.93 628.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM678.84 -46.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM743.79 -9.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM743.79 65.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM678.84 103.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM678.84 178.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM743.79 215.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM743.79 290.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM808.75 328.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM808.75 403.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM743.79 440.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM808.74 -46.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM873.7 -9.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM873.7 65.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM808.74 103.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM938.65 103.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM938.65 178.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM873.7 215.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM808.74 178.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM808.74 403.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM873.7 440.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM873.7 515.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM808.74 553.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM743.79 515.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM938.65 -46.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1003.61 -9.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1003.61 65.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1003.61 215.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1003.61 290.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM938.65 328.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM873.7 290.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM938.65 403.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1003.61 440.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1003.61 515.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM938.65 553.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1068.56 -46.66 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1133.51 -9.16 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1133.51 65.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1068.56 103.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1198.47 103.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1198.47 178.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1133.51 215.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1068.56 178.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1133.51 290.84 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1068.56 328.34 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M76.12 -144.23L210.36 -66.73L210.36 88.27L76.12 165.77L-58.12 88.27L-58.12 -66.73zM76.12 320.77L210.36 398.27L210.36 553.27L76.12 630.77L-58.12 553.27L-58.12 398.27zM344.6 -144.23L478.83 -66.73L478.83 88.27L344.6 165.77L210.36 88.27L210.36 -66.73zM344.6 320.77L478.83 398.27L478.83 553.27L344.6 630.77L210.36 553.27L210.36 398.27zM613.07 -144.23L747.31 -66.73L747.31 88.27L613.07 165.77L478.83 88.27L478.83 -66.73zM747.31 88.27L881.55 165.77L881.55 320.77L747.31 398.27L613.07 320.77L613.07 165.77zM613.07 320.77L747.31 398.27L747.31 553.27L613.07 630.77L478.83 553.27L478.83 398.27z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1194'%3e%3crect width='1040' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    /* background: url(./resources/Colored-Shapes.svg); */
    background-size: cover;
}





.section{

    height: 100vh;
    width: 100vw;
    text-align: center;
    background-size: cover;
    
}

#boy-svg {
    background: url(./resources/boy-svg.svg);
    background-size: auto;
    height: 20vh;
    background-repeat: no-repeat;
    /* position: absolute; */
    /* right: 340px; */
    /* left: 50%; */
    /* top: 40%; */
    aspect-ratio: 1/1;
    /* transform: translate(-50%); */
    background-position: center;
}

#intro-cont {
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    gap: 2vh;
    transform: translate(-50% ,-50%);
    width: 100%;
}
#intro-name {
    color: #b7efb6;
    font-weight: bolder;
    font-size: xxx-large;
}

#intro-fs {
    color: #3fdb3c;
    font-weight: bolder;
    font-size: xxx-large;
}
#intro-loc{
    font-size: xx-large;
    font-weight: bold;
}
#int-hi {
    font-size: xxx-large;
    font-weight: bold;
    color: aliceblue;
}

#int-im {
    font-size: xx-large;
    color: cornsilk;
    font-weight: bold;
}

@media only screen and (max-width: 360px) {
    
    #intro-name {
        font-size: xx-large;
    }
    
    #intro-fs {
        font-size: xx-large;
    }
    #intro-loc{
        font-size: x-large;
    }
    #int-hi {
        font-size: xx-large;
    }
    
    #int-im {
        font-size: x-large;
    }
  }

test{
  background: linear-gradient(to right, #191e2b 4%, rgb(15 34 60) 45%, #fff  14%, white 100%);}



#me_blob {
    background-image: url(../Images/blob.svg);
    background-repeat: round;
    background-size: cover;
    display: grid;
    justify-content: center;
    height: 35vh;
}
#me {
    background-image: url(../Images/me.jpg);
    border-radius: 50%;
    height: 100%;
    aspect-ratio: 1/1;
    background-size: contain;
    background-position-x: center;
    background-repeat: round;
    /* width: 100%; */
    /* width: fit-content; */
    /* border: 2px #9f30cb solid; */
    filter: drop-shadow(2px 2px 2px black);
}